body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navBar {
    min-height: 100px;
    margin: 2em 4em 2em 4em;
}

.logo {
    float: left;
    text-decoration: none;
    font-size: 54px;
    font-weight: bold;
    color: black;
}

.logo span {
    color: green;
}

.rightNav {
    float: right;
    margin-top: 20px;
}

.rightNav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.navBar button {
    margin-left: 20px;
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 7px 20px;
    font-size: 20px;
    box-shadow: 3px 5px gray;
}

.navBar button:hover {
    background-color: gray;
}

.headPicture {
    min-height: 800px;
    background-image: url(../../Assets/Image/Cloths-bc740630f228713e4bb0de8a7bffce22.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.headPicture h1 {
    padding-top: 200px;
    font-size: 64px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.headPicture h6 {
    margin-top: 0;
    padding-top: 0;
    color: grey;
    font-size: 24px;
}

.headPicture input {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid;
    font-size: 20px;
}

.allCard {
    margin-top: 50px;
}

.card {
    margin-left: 5%;
    float: left;
    width: 25%;
    min-height: 200px;
    padding: 20px 10px 10px 10px;
    text-align: left;
    border: 3px solid black;
    position: relative;
    font-size: 28px;
}

.card button {
    margin-left: 0px;
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 7px 20px;
    font-size: 20px;
    box-shadow: 3px 5px gray;
}

.card button:hover {
    background-color: gray;
}

.card h3 {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.card p {
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: bold;
}

#leftCard {
    width: 70%;
}

.card img {
    width: 20%;
    position: absolute;
    top: 80px;
    right: 10px;
}

#card1 {
    width: 100%;
    height: 100%;
    background-color: palevioletred;
}

#card2 {
    background-color: peru;
}

#card3 {
    background-color: purple;
}